<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="*" />
            </customHeaders>
        </httpProtocol>
      <directoryBrowse enabled="true" />
      <httpErrors errorMode="Custom">
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" path="error.html" responseMode="File" />
      </httpErrors>
      <rewrite>
        <rules>
          <rule name="Redirect-to-dbrjs-hw" enabled="true" stopProcessing="true">
            <match url="minimum-code.html" ignoreCase="true"/>
            <action type="Redirect" url="https://demo.dynamsoft.com/Samples/DBR/JS/1.hello-world/1.hello-world.html" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>
