@page "/"

<PageTitle>Home</PageTitle>

<h1>Dynamsoft Barcode Reader Sample - Hello World</h1>
Read barcodes from camera and images in a MAUI Blazor Hybrid application!
<br />
<br />
<h2> Support </h2>

If you have any questions, feel free to <a href="https://www.dynamsoft.com/company/contact?utm_source=sampleMAUIBlazor">contact Dynamsoft support</a>.
<br />
<br />
<a href="video" style="border:1px solid #000;border-radius:4px;background:#eee;color:#000;padding:4px;margin:4px;">Decode Video</a>
<a href="image" style="border:1px solid #000;border-radius:4px;background:#eee;color:#000;padding:4px;margin:4px;">Decode Image</a>
