* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%
}

.home-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #323234;
  z-index: 2;
}

.home-page .home-page-title {
  width: 100%;
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-align: center;
}

.home-page .start-btn {
  height: 10%;
  min-height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page .start-btn .start-icon {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #FE8E14;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.home-page .start-btn .loading {
  width: 70%;
  height: 70%;
  display: none;
  position: absolute;
  font-size: 14px;
  border: 4px solid #FE8E14;
  border-right-color: transparent;
  border-radius: 50%;
  color: transparent;
  font-weight: 700;
  animation: rotate 1s linear infinite;
}

.home-page .logo-dynamsoft {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 32px;
}

.parsed-result-view {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #DEDFE1;
  display: none;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #E9EAEB;
}

.parsed-result-view .barcode-text {
  width: 100%;
  height: 80px;
  background-color: #fff;
  margin-bottom: 10px;
  color: #323234;
  padding: 10px 27px;
  font-weight: 600;
  overflow: auto;
  word-break: break-all;
}

.parsed-result-view .parsed-result-list {
  width: 100%;
  height: fit-content;
  max-height: 70%;
  background-color: #fff;
  overflow: auto;
}

.parsed-result-view .parsed-result-list .parsed-result-item {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 27px;
  border-bottom: 1px solid #E9EAEB;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.parsed-result-view .parsed-result-list .parsed-result-item strong {
  font-weight: 500;
}

.parsed-result-view .parsed-result-list .parsed-result-item span {
  color: #666666;
}

.parsed-result-view .back-to-scan {
  width: 80%;
  height: 50px;
  max-width: 372px;
  background-color: #FE8E14;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  margin: 30px auto;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}