body {
    text-align: center;
}

#barcodeScannerUI {
    width: 100%;
    height: 100%;
}

.container {
    margin: 2vmin auto;
    text-align: center;
    font-size: medium;
    height: 60vh;
    width: 80vw;
}