<div class="div-hello-world">
  <h1>Hello World for Angular</h1>
  <div>
      <button [ngStyle]="{'margin-right': '10px', 'background-color': bShowScanner ? 'rgb(255,174,55)' : 'white'}" (click)="showScanner()">Decode Video</button>
      <button [ngStyle]="{'background-color': !bShowScanner ? 'rgb(255,174,55)' : 'white'}" (click)="showImgDecode()">Decode Image</button>
  </div>
  <div class="container">
      <app-video-capture *ngIf="bShowScanner"></app-video-capture>
      <app-image-capture *ngIf="bShowImgDecode"></app-image-capture>
  </div>
</div>