.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
/* .title .title-text {

} */
.title .title-logo {
  width: 60px;
  height: 60px;
  animation: retate 5s infinite linear;
}
.top-btns {
  width: 30%;
  margin: 20px auto;
}
.top-btns button {
  display: inline-block;
  border: 1px solid black;
  padding: 5px 15px;
  background-color: transparent;
  cursor: pointer;
}
.top-btns button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: transparent;
}
.top-btns button:nth-child(2) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: transparent;
}

@media screen and (max-width: 500px) {
  .top-btns {
      width: 70%;
  }
}

@keyframes retate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}