#UIElement {
    margin: 2vmin auto;
    text-align: center;
    font-size: medium;
    height: 50%;
    width: 90vw;
}

.latest-result {
    display: block;
    margin: 2vh 0;
    padding: 0.4rem 0.8rem;
    color: inherit;
    width: 100%;
    border: none;
    font-size: 1.5rem;
    border-radius: 0.2rem;
    text-align: center;
}

.latest-result::placeholder {
    color: #B0BEC5;
}

.latest-result:focus {
    outline: none;
    box-shadow: 0.1rem 0.4rem 0.8rem #5e35b1;
}