.settingsSample {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    color: #455A64;
}

.settingsSample Button.narrow {
    width: 40vw;
    min-width: 150px;
    font-size: 1rem;
}

.settingsSample Button.normal {
    width: 40vw;
    min-width: 250px;
}

.tab-content {
    height: 90%;
    width: 100%;
    padding: 2vmin;
}

.logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main {
    width: 100%;
    margin: 2vh 0;
    overflow: auto;
}

.left {
    float: left;
}

.half {
    width: 50%;
}

.maxFullWidth {
    max-width: 100%;
}

.center {
    text-align: center;
}

.thinBorder {
    border: 1px solid rgba(0, 0, 0, .125);
}

.overFlowX {
    overflow-x: auto;
}

.dsColor {
    color: #cE5E04
}

.compact_P {
    padding: 1% 2vmin;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    line-height: 25px;
}

.runTimeSettings_P_0 {
    padding-left: 0vw;
}

.runTimeSettings_P_1 {
    padding-left: 2vw;
}

.runTimeSettings_P_2 {
    padding-left: 4vw;
}

.noPadding {
    padding: 0 !important;
}

.allWidth {
    width: 100%;
}

.sixTenths {
    width: 60%;
}

.paddingOneVW {
    padding: 1vw;
}

.btn-toggle {
    margin-left: 10px;
    width: 22px;
    height: 22px;
    position: relative;
}

.btn-toggle::before {
    content: "";
    width: 8px;
    height: 4px;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: #aaa transparent #aaa;
}

.btn-toggle {
    margin-left: 0;
}

.div-footer {
    height: 57px;
    border-top: 1px solid #eee;
    padding: 0 16px;
    font-size: 15px;
    color: #444;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-align-items: center;
    align-items: center;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.div-footer>* {
    margin-right: 5px;
    -ms-flex: initial;
    flex: initial;
}

.div-footer>a {
    color: #444;
}

.div-footer>a:hover {
    color: #ffae38;
}

.div-footer>.a-dynamsoft>img {
    width: 113px;
    height: 28px;
}

.div-footer>.a-siteMap {
    margin-right: 0;
}

.div-footer>.white-area {
    margin-right: 0;
    -ms-flex: auto;
    flex: auto;
}

.div-footer>.a-price, .div-footer>.a-sendEmail, .div-footer>.btn-liveChat {
    width: 30px;
    height: 100%;
    margin-right: 0;
    display: inline-box;
    position: relative;
    border-radius: 0;
}

.div-footer>.a-price>svg, .div-footer>.a-sendEmail>svg, .div-footer>.btn-liveChat>svg {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.div-footer>.a-price:hover, .div-footer>.a-sendEmail:hover, .div-footer>.btn-liveChat:hover {
    background: #ffae38;
}

/*
 * master branch: https://github.com/Keillion/browserSideBasic Unlicense
 * modify from: http://meyerweb.com/eric/tools/css/reset/ v2.0 license: none (public domain)
 */

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, textarea, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    line-height: 25px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    box-sizing: border-box;
}

.tab-content button {
    margin: 2vmin!important;
}

input[type='checkbox'], input[type='radio'] {
    vertical-align: text-top;
    margin: 0;
}

a {
    text-decoration-line: none;
}

/*util*/

label._forCkBoxOrRadio {
    user-select: none;
}

button._slowlyChange {
    transition: all .2s ease-in-out;
}