    .helloWorld {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: vw;
      height: 90vh;
      color: #455A64;
    }

    #UIElement {
      margin: 5vmin auto;
      text-align: center;
      font-size: medium;
      height: 50vh;
      width: 90vw;
    }

    .latest-result {
      display: block;
      margin: 0;
      padding: 0.4rem 0.8rem;
      color: inherit;
      width: 90%;
      border: none;
      font-size: 1.5rem;
      border-radius: 0.2rem;
      text-align: center;
    }

    .latest-result::placeholder {
      color: #B0BEC5;
    }

    .latest-result:focus {
      outline: none;
      box-shadow: 0.1rem 0.4rem 0.8rem #5e35b1;
    }

    button {
      font-size: 1.5rem;
      margin-bottom: 5vmin;
    }
