    .helloWorld {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      height: 100%;
      color: #455A64;
    }

    button {
      font-size: 1.5rem;
      margin: 1.5vh 0;
      border: 1px solid black;
      background-color: white;
      color: black;
    }

    span {
      font-size: 0.8rem;
    }

    .bigger {
      font-size: large;
      margin-bottom: 2%;
    }

    .container {
      margin: 2vmin auto;
      text-align: center;
      font-size: medium;
      /* height: 40vh; */
      width: 80vw;
    }

    h1 {
      font-size: 1.5em;
    }
