@page "/"

<PageTitle>Home</PageTitle>

<h1>Dynamsoft Barcode Reader Sample - Hello World</h1>
Read barcodes from camera and images in a Blazor application!
<br />
<br />
<h2> Support </h2>

If you have any questions, feel free to <a
  href="https://www.dynamsoft.com/company/contact?utm_source=sampleBlazor">contact Dynamsoft
  support</a>.
